@import '../../assets/styles/main.scss';

.main-section {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  @include media('xs') {
    flex-direction: column;
  }
  @include media('sm') {
    flex-direction: column;
  }
  @include media('md') {
    flex-direction: column;
  }
  .chart-container {
    width: 100%;
    max-width: fit-content;
    @include media('lg') {
      margin-left: 30px;
    }
  }
}


