$white: #ffffff;
$black: #000000;
$lightBlack: rgba(0, 0, 0, 0.1);
$red: #e92323;
$yellow: #ffc700;
$teal: #38a3a9;
$primaryBlue: #18529d;
$darkBlue: #053675;
$blue100: #2b548a;
$blue: rgba(5, 54, 117, 0.85);
$blue200: #8fa9ce;
$blue300: #dce5f0;
$blue400: #e2eeff;
$gray100: rgba($black, 0.6);
$gray200: rgba($black, 0.55);
$gray300: #b4b4b4;
$gray400: #c6c6c6;
$gray500: #fafafa;
$gray600: #efefef;
$gray700: #c4c4c4;
$lightGrey: #38a3a9;
