$themes: (
  light: (
    bodyBackgroundColor: #f8f8fa,
    headerFooterBackground: #fff,
    textColor: #000,
    toggleBackground: #dfe4ea,
    navTextColor: #203f1a,
    activeNavTextColor: #205d06,
    titleTextColor: #205d06,
    descriptionTxtColor: #205d06,
    btnShadow: rgba(0, 0, 0, 0.2),
    btnColor: #41403e,
    btnBackgroundColor: #fff,
    btnHoverFocusShadow: rgba(0, 0, 0, 0.3),
    btnBorderColor: #41403e,
    iconFill: #00BFFF,
    divider: 1px solid #205d06
  ),
  dark: (
    bodyBackgroundColor: #222736,
    headerFooterBackground: #36394c,
    textColor: #eff2f7,
    toggleBackground: #606071,
    navTextColor: #f0f8ff,
    activeNavTextColor: #f0f8ff,
    titleTextColor: #f0f8ff,
    descriptionTxtColor: #f0f8ff,
    btnShadow: rgba(0, 0, 0, 0.2),
    btnColor: #41403e,
    btnBackgroundColor: #f6d7d7,
    btnHoverFocusShadow: rgba(0, 0, 0, 0.3),
    btnBorderColor: #ffffff,
    iconFill: #FFD700,
    divider: 1px solid #fff,
  ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
