@import 'colors';
@import 'mixins';
@import 'theme-variables';

.fz48 {
  @include fontSize(48);
}

.fz24 {
  @include fontSize(24);
  line-height: 1.4;
}

.fz18 {
  @include fontSize(18);
}

.fz14 {
  @include fontSize(14);
  line-height: 1.6;
}

.fz12 {
  @include fontSize(12);
}

.fw700 {
  font-weight: 700;
}
.fw400 {
  font-weight: 400;
}

.c-white {
  color: $white;
}
.c-black {
  color: $black;
}
.c-blue {
  color: $primaryBlue;
}

.c-red {
  color: $red;
}
.c-yellow {
  color: $yellow;
}

.tc-desc {
  @include themify($themes) {
    color: themed('descriptionTxtColor');
  }
}

.f-spec-elite {
  font-family: 'special_eliteregular', serif !important;
}
